.container{
    height: 100%;
  
    
}
.inline{
    display: inline-block;
    width: 82px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    bottom: 40px;
    left: 40px;
    position: fixed;
    border-radius: 5px;
    text-decoration: none;
    
}
.fondo{
    height: 100vh;
    background: linear-gradient(45deg,rgb(41, 174, 197),rgb(255, 255, 255));
}
.fondo-boton{
    background: linear-gradient(45deg,rgb(41, 174, 197),rgb(255, 255, 255));
}
.imagen-logo{
    display: flex;
    width: 150px;
    height: 150px;
    margin-left: 0px ;
    left: 20px;
}