.inline{
    display: inline-block;
    width: 82px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    bottom: 40px;
    left: 30px;
    position: fixed;
    border-radius: 5px;
    text-decoration: none;
    
}
.logo{
    width: 150px;
    height: 150px;
    margin: 0px 0px 0px 0px;
    display:flex;
    position: relative;
    left: 100px;
    top: 20px;

}
body{
    height: 100vh;
    background-color: #b1a194;
    
}

.sucursal{
    height: 100%;
    font-size: small;
    font-style:oblique ;
    font-weight: bold;
    color: white;
    min-width:250px;
    max-width: 400px;
   


}
.sucursal p{
    margin: 20px;
    font-size: 20px;
}


.perro img{
    width: 40%;
    min-width: 280px;
    margin: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.801)
}

.table__perros{
    font-size: 30px;
    font-weight: 600;
}
.margen{
    padding-top: 50px;
    padding-bottom: 80px;
    
}


   
  
