 .fondo{
    background: linear-gradient(45deg,rgb(223, 76, 132),rgb(255, 255, 255));
   
 }  
.tarjeta{
    padding: 3rem;
   margin: 1rem;
   object-position: center;
   display: block;
   position: relative;
   overflow: hidden;
   box-shadow: 0 0 6px rgb(0, 0, 0)
 
}


header{
   display: flex;
   justify-content: space-between;
}
.imagen-logo{
    width: 150px;
    height: 150px;
  margin: 20px;
    left: 20px;
}

/* .logo{
    width: 150px;
    color: rgb(40, 3, 41);
     background: linear-gradient(45deg,rgb(214, 199, 199),rgb(92, 11, 85)); 
    background-color: rgb(214, 199, 199);
    padding: 10px;
    border-radius: 20PX;
    transition: background-color 1.0s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 } */
 .inline{
    display: inline-block;
    width: 82px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    bottom: 40px;
    left: 40px;
    position: fixed;
    border-radius: 5px;
    text-decoration: none;
    
    
    
}

.logo:hover{
    color: rgb(14, 220, 235);
    cursor: pointer;
    background-color:rgb(16, 180, 57) ;

}
.boton{

    display: flex;
    top: 20px;
    right: 20px;
    position: absolute;
   

 
}
.nav{
    display: flex;
    top: 20px;
    right: 30px;
    position: absolute;
}

.line{
    background-color: aquamarine;
    color: rgb(16, 180, 57);
    height: 5px;
    width: 15px;
}
.lineas{
    width: 30px;
    height: 30px;
   display: flex;
   flex-direction: column;
    justify-content: space-between; 
    background-color: rgb(16, 180, 57);
   
}
.carousel{
    margin: 50px;
    max-width: 600px;
}
.carousel-item{
  
    height: 300px;
    min-height: 300px;
}
.carousel-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .3;
}
.img-carousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-carousel1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
section{
    margin: 50px;
}

footer{
  
    display: flex;
    justify-content: space-between;
    font-style: italic;
    flex-direction: column;
 
    }
.redes{
    margin: 8px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    
}    
.redes h3{
    color: rgb(59, 59, 61);
}
.redes ul li{
    max-width: 40px;
   display: flex;
   
}
.insta{
    padding: 3px;
   
}
.tik{
    padding: 3px;
}


@media (max-width:678px)

{ .nav-item {display: none;} } 

@media  (min-width: 678px)
{.nav-item{display: flex;}}
    
@media( min-width:678px)
{.boton {display: none;}}
