.fondo{
    background: $fondo;
    .imagen-logo{
        width: $variable-2*10;
        height: $variable-2*10;
        display: flex;
        position: relative;
        top: $variable-2;
        left: $variable-2;
    }
    .articulo1{
        color: rgb(0, 0, 0);  background: $fondo;
        margin: $variable-1*4;
        .articulo1__foto{
        
            
            padding: 20px;
        }
    }
}
.inline{
    display: inline-block;
    width: 82px;
    height: $variable-2*2;
    background-color: $color-principal;
    bottom: $variable-2*2;
    left: $variable-2*2;
    position: fixed;
    border-radius: $variable-1;
    text-decoration: none;
    
}